*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue",Helvetica,Arial
}

img{
    width: 65%;
    height: 65%;
}

:root{
    --color-blue: rgb(20, 20, 100);
    --margin-base: 1.25rem;
}

.container{
    height: 100vh;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.box{
    width: 50%;
    height: 70%;
    color: var(--color-blue);
    margin-bottom: var(--margin-base);
}

.box h2{
    font-size: 5vmin;
    margin: var(--margin-base) 0;
}

.box p{
    width: 90%;
    font-size: 2vmin;
    margin: var(--margin-base) 0;
}

.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.box-form-item{
    padding: 0 0.62rem;
    height: 5.6rem;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.box-form-item label{
    font-size: 1.2rem;
}

input,select{
    width: 100%;
    height: 2.5rem;
    padding-left: 2.5rem;
    font-size: 1rem;
    border: 1px solid;
    border-radius: 0.3rem;
}

select{
    margin-top: 1rem;
    padding-left: 0.62rem;
}

input:focus,select:focus{
    outline-color: #20046e ;
}

.icon{
    position: relative;
    top: 1.75rem;
    left: 0.9rem;
}

.box-form-radio{
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
}

.radio{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.box-form-btn{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: var(--margin-base);
}

.box-form-btn button{
    margin-top: 1.25rem;
    width: 12.5rem;
    height: 3.1rem;
    background-color: var(--color-blue);
    color: #fff;
    border-radius: 0.3rem;
    font-size: 1.3rem;
    border: 0;
}

.box-form-btn button:hover{
    border: 2px solid var(--color-blue);
    color: var(--color-blue);
    background-color: transparent;
}

.arrow{
    color: #6c98e5;
    margin-left: 0.3rem;
}

label:not(.radio label, .select){
    margin-bottom: -0.6rem;
}